CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX=registry-1.docker.io
TF_BACKEND_USERNAME=<GITLAB_USERNAME>
CI_JOB_TOKEN=<GITLAB_PERSONAL_ACCESS_TOKEN>

TF_VAR_public_key_id_aws=<SSH_PUBLIC_KEY>
TF_VAR_ss_password=<SHADOWSOCKS_SERVER_PASSWORD>
TF_VAR_noip_username=<NOIP_USERNAME>
TF_VAR_noip_password=<NOIP_PASSWORD>

AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
