variable "aws_region" {
    description = "The AWS region"
    type        = string
    default     = "ap-east-1"  # hong kong
}

variable "tailscale_instance_name" {
    description = "The server instance name"
    type        = string
    default     = "awshk1"
}

variable "public_key_id_aws" {
    description = "The public key for the key pair used to SSH into the server"
    type        = string
    default     = "COPY_PASTE_YOUR_PUBLIC_KEY_HERE"
}
