variable "public_key_id_aws" {
    description = "The public key for the key pair used to SSH into the server"
    type        = string
    sensitive   = true
    default     = "COPY_PASTE_YOUR_PUBLIC_KEY_HERE"
}

variable "ss_password" {
    description = "The password for the Shadowsocks server"
    type        = string
    sensitive   = true
    default     = "12345678"
}

variable "ss_domain_name" {
    description = "The domain name used for TLS"
    type        = string
    default     = "tmpsc.net"
}

variable "ss_cert_file" {
    description = "The certificate file for the domain name"
    type        = string
    default     = "/home/ubuntu/tmpsc.net/tmpsc_net.cer"
}

variable "ss_key_file" {
    description = "The key file for the domain name"
    type        = string
    default     = "/home/ubuntu/tmpsc.net/tmpsc_net.key"
}
